.siteHeader{
    padding: 100px 0 40px;
    display: flex;
    justify-content: center;
}
.siteHeader > h1{
    font-size: 34px;
}
.calendar{
    background: #222c33;
    margin: 16px;
    border-radius: 24px;
    color: #fff;
    margin-top: 32px;
}
.calendar-header{
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}
.calendar-weekdays{
    display: flex;
}
.calendar-weekdays > li{
    width: 14.2857%;
    text-align: center;
}
.calendar-days{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.calendar-days > li{
    width: 14.2857%;
    height: 42px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}
.calendar-days > li:hover{
    background: #2e373e;
}
.calendar-days .daysOfLastMonth{
    color: #7a8084;
}
.calendar-days .today{
    color: black;
    background: #48b3ea;
}
.calendar-header #time{
    padding-left: 16px;
    padding-top: 4px;
}
.calendar-actions{
    padding-right: 20px;
}
.calendar-actions .icons{
    width: 0.6em; height: 0.6em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    cursor: pointer;
}
.calendar-actions .left{
    margin-right: 18px;
}